

.dark {
  color: #fff;
  transition: 0.5s;
}


.dark p{
  color: #acacac;
  transition: 0.5s;
}


/*
<!-- =======================================-->
<!--Home 1 Dark Css-->
<!-- =======================================-->*/

.dark .feature-content {
    background-color: #19001E;
}
.dark .feature-content .single-feature {
    box-shadow: 0 0 35px rgba(255, 255, 255, .2);
    background-color: #19001E;
}
.dark .feature-content .single-feature .feature-rap h3 {
    color: #fff;
}

.dark .about-section .bottom-content .left-side .card-content .single-cird {
    border: 1px solid #A229A1;
    background-color: #21002D;
    padding: 10px 35px;
    width: 90%;
    margin: 20px 0px 40px;
    position: relative;
    transition: .5s;
    border-radius: 5px;
}
.dark .about-section .bottom-content .left-side .card-content .single-cird h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 13px 0px;
    color: #fff;
}
.dark .about-section .bottom-content .left-side .card-content .single-cird p{
    color: #acacac;
    font-size: 16px;
    font-weight: 400;
}

.dark .about-section {
    /*background: url(assets/images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px;*/
    background-color: #140019;
}

.dark .service-section{
    background-color: #19001E;
}
.dark .top-content h2 {
    color: #fff;
}
.dark .service-section .all-service .single-service .content-box .service-title {
    background-color: #21002D;
}

.dark .service-section .all-service .single-service .content-box .service-title h3 a {
    color:#fff ;
}

.dark .team-section{
    background-color: #19001E;
}
.dark .team-section .single-team{
    background-color: #21002D;
}
.dark .team-section .single-team .team-contant .team-title h3{
    color: #fff;
}
.dark .testimonial-section{ 
    background-color: #19001E;
}
.dark .testimonial-section .testi-slider2 .testi-box .testi-content h4 {
    color: #fff;
}
.dark .gread-gallery{
    background-color: #140019;
}

.dark .gread-gallery .image-thame .text-contect{
    background-color: #21002D;
}

.dark .gread-gallery .image-thame .text-contect h3 a{
    color: #fff;
}

.dark .gallery-section{
     background-color: #19001E;
}


.dark .blog-section{
    background-color: #140019;
}

.dark .blog-section .songle-blog {
    background-color: #21002D;
}

.dark .blog-section .songle-blog .blog-content .blog-text h3 a {
    color: #fff;
}

.dark .footer-section::before {
    background-color: rgba(33, 0, 45, .8);

}
.dark .footer-section .link ul li a {
    color: #acacac;
}

.dark .header-area {
    background: transparent;
}

.dark .blog-detail-section {
   background-color: #19001E;
}

.dark .blog-detail-section .main-section .right-side h2 {
    color: #fff;
}
.dark .blog-detail-section .main-section .right-side .post .text h3 a {
    color: #fff;
}
.dark .blog-detail-section .main-section .text-detail h5 {
    color: #fff;
}
.dark .blog-detail-section .main-section .right-side h4 {
    color: #fff;
}
.dark .blog-detail-section .main-section .text-detail h3 {
    color: #fff;
}
.dark .service-details {
    background-color: #19001E;
}
.dark .service-details .widget-sidebar-box {
    background-color: #21002D;
}
.dark .service-details ul.sidebar-menu li {
    border: 1px solid rgba(162, 41, 161,.3);
}
.dark .service-details ul.sidebar-menu li a {
    color: #fff;
}
.dark .service-details ul.sidebar-menu li:hover {
    background: #A229A1;
}
.dark .service-details ul.sidebar-menu li:hover a i {
    background: #fff;
    color: #A229A1;
}
.dark .service-details h4.sidebar-title {
    color: #fff;
}
.dark .service-details h2.service-title {
    color: #fff;
}
.dark .service-details .sevice-dtls-content h4 {
    color: #fff;
}
.dark .service-details .service-dtls-cont h3 {
    color: #fff;
}
.dark .contact-section{
    background-color: #140019;
}

.dark .contact-section .contact-icon {
    box-shadow: 0px 2px 35px 0px rgba(255, 255, 255, .1);
}
.dark .contact-section .contact-icon .text h3 {
    color: #fff;
}

